
.card-body {
    position: relative; /* Para garantir que o conteúdo fique sobre a imagem */
 /* Coloca o conteúdo acima da imagem */
}

.card {
    height: 90%; /* Faz com que o card ocupe toda a altura disponível */
}

.custom-card img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do card */
    height: auto; /* Ajusta a altura automaticamente */
}
